.mainContainer {

    background-color: rgb(243, 239, 239);
margin-top: 9em; 
overflow: hidden;

  

}
.container{
    display: flex;
    flex-direction: row;
    max-height: calc(100vh - 150px);
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
}

.responsiveImage {
    max-height: 700px;
    width: 100%;
    overflow: hidden;
   
    
   
}

.responsiveImage p {
    position: absolute;
    top: 55%;
    left: 5%;
    color: white;
    padding: 15px;
    max-width: 50% ;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    text-align: start;
    overflow: hidden;
}
.contacts {
    width: 100%;
    height: 90px;
    align-items: center;
    text-align: center;
   
}

.contacts p {
    font-size: 1.3em;
    font-weight: 700;
    color: blue;
   
}
.textDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1em;
    padding: 10px;

}


.div1, .div2, .div3{
    flex: 2;
    border: 1px solid orange;
    padding: 25px;
}
.textDiv ul{
    
    padding: 25px;
}
.textDiv h3 {
    color: blue;
    text-size-adjust:inherit;
    font-size: 1em;
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {

}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  
}