.container  {
    margin-top: 2px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;

}

.headerKPFC {
    position: absolute;
    top: 18;
    font-size: 30px;
    color: orange;

}

.blogText {
    position: absolute;
    top: 20%;
    font-size: 100px;
    color: white;
    font-weight: bold;

}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 5px;
    object-fit: cover;


}