.mainContainer {
    margin-top: 5px;
    margin-bottom: 5px;



}

.container {

    padding: 1em 3em 0;



}

.vidDiv {
    float: left;
    padding: 0 5em 0;
    max-width: 700px;

    margin-left: 40px;


}









.textDiv {
    flex: 2;
    padding: 15px;
    text-align: justify;
    margin-right: 1em;

}

.textDiv h6 {
    color: #f57200;
     padding: 0em 5em;
}

.textDiv h4 {
    color: rgb(5, 5, 131);
   

    margin-top: 10px;
  

    padding: 0em 5em;

}

.textDiv p {
    color: black;
  text-align: justify;

    padding: 0em 5em;

}



.portifolio {
    padding: 1em 7em 0;
}

.experience {



}

.experience h6 {
    color: #f57200;
   
}

.experience h3 {
    color: blue;

}

.experience p {
 
}

.addDiv {

width: 30%;
float: right;




}

.addDiv img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
