.mainContainer {
  display: block;
 padding: 2rem;
  width: 100%;

}

.container {
  width: 100%;
  margin: 3rem auto;

 

}

.vidDiv {

}
.vidContainer{max-width: 30em;}
.textDiv {
  flex: 2;

  text-align: justify;

}

.textDiv h6 {
  color: #f57200;
}

.textDiv h4 {
  color: rgb(5, 5, 131);
}

.textDiv p {
  color: black;
  text-align: justify;
}

.portifolio {



}

.experience {
}

.experience h6 {
  color: #f57200;
}

.experience h3 {
  color: blue;
}

.experience p {
}

.addDiv {
position: relative;
max-width: 30em;


}



/*For Mobile Phones */

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    font-size: 0.8rem;
    padding: 1rem;
  }

  .vidDiv {
    min-width: 100%;
  }
.portifolio{ display: flex;
flex-direction: column;
margin: 0 auto;
padding: 1rem;
font-size: 0.8rem;

}

.addDiv {
    width: 60%;
      float: right;
  }

}
/*For Tablets */

@media (max-width: 960px) {
}
/*For Laptops/Desktop*/

@media (min-width: 1025px) {
}
/*For Hi-Res Laptops*/

@media (max-width: 1280px) {
}
