.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 2em 5em;
    position: relative;
}

.textDiv h1 {color:rgb(5, 81, 196); font-size: 3.5em;}
.textDiv p {color:rgb(5, 81, 196); font-size: 1.5em; width: 600px;}
.buttonDiv {position: absolute; right: 20%;}
.buttonDiv button { border: none ;
background-color:rgb(5, 81, 196) ;
padding: 1em;
margin-top: 4em;
color: orange;
border-radius: 40px;
cursor: pointer;
}