.lowerDiv{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    
}

.div40{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(5, 81, 196);
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.div40 h3{ font-size: 2em; color: #f57200;   text-align: start;}
.div40 h5 {font-size: 1em; color: #f57200;   text-align: start;}

.div10{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f57200;
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.div10 h3{font-size: 2em; color:  rgb(5, 81, 196);   text-align: start;}
.div10 h5{font-size: 1em; color:  rgb(5, 81, 196);  text-align: start;}

.div35000{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(5, 81, 196);
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.div35000 h3{font-size: 2em; color: #f57200; font-weight: bold;  text-align: start;}
.div35000 h5{font-size: 1em; color: #f57200; font-weight: bold;  text-align: start;}

.div100000{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #f57200;
  
    width: 25%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.div100000 h3{font-size: 2em; color:  rgb(5, 81, 196); font-weight: bold;  text-align: start;}
.div100000 h5{font-size: 1em; color:  rgb(5, 81, 196);  text-align: start; }


@media (max-width:480px){
    .lowerDiv{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
        font-size: 0.6rem;
        min-height: max-content;
     
    }

    .div10{width: 45%;}
    .div40{width: 45%;}
    .div100000{width: 45%;}
    .div35000{width: 45%;}
}
/*For Tablets */

@media (max-width:960px){}
/*For Laptops/Desktop*/

@media (min-width:1025px){}
/*For Hi-Res Laptops*/

@media (max-width:1280px){}