  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url('../../public/Images/About_Us_Page_Cover.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    background-blend-mode:soft-light;
  }

  .glide{
    height: calc(100vh - 80px);
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;

  }




.text {
  max-width: 50%;
  font-size: 1.1em;
  background: rgba(75, 73, 73, 0.4);
  position: absolute;
  top: 60%;
  left: 30%;
  
}
.glide h1 {
  font-size: 7em;
  position: absolute;
  top: 50%;
  left: 17%;

}
/* Test backup*/
.text {
  max-width: max-content;
  font-size: 1.1em;
  background: rgba(75, 73, 73, 0.4);
  position: absolute;
  top: 70%;
  left: 17%;

  z-index: 991;

}
.text h1{font-size: 6em; text-align: center;}
.text p{
  font-size: 1em;
  text-align: center;
}
  