.mainContainer {
    display: flex ;
    align-items: center;
    justify-content: center;
    
    background-color: #f57200;
    min-height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.textDiv{
    display: flex;
    min-height: max-content;
    text-align: start;
    position: relative;
   
   

}


.textDiv h1 {color: rgb(5, 81, 196) ; font-size: 2em;}
.text{
    flex: 4;
    padding: 10px;
    text-align: start;
   
    
}
.buttonDiv{
    flex: 1;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    
 
 
}

.buttonDiv button {
    position: absolute;
    top: 50%;
    right: 4%;
}
.mobileButton {
    display: none;
}

.textDiv p{color: rgb(5, 81, 196); text-align: start; font-weight: 400;}
.textDiv h5{color: rgb(5, 81, 196) ;text-align: start; font-weight: 600;}

@media (max-width:480px){}
/*For Tablets */

@media (max-width:960px){}
/*For Laptops/Desktop*/

@media (min-width:1025px){}
/*For Hi-Res Laptops*/

@media (max-width:1280px){}