.mainContainer {
    display: flex ;
    align-items: center;
    justify-content: center;
    
    background-color: #f57200;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}

.textDiv{
    padding: 20px;
    align-items: stretch;
    position: relative;
}
.textDiv h1 {color: rgb(7, 7, 161); font-size: 40px;}
.buttonDiv{
    align-items: flex-end;
    justify-content: flex-end;
    left: 98%;
    top: 50%;
    position: absolute;
}
.mobileButton {
    display: none;
}

.textDiv p{color: rgba(9, 9, 187, 0.973); text-align: center;}
.textDiv h5{color: rgba(9, 9, 187, 0.973);text-align: center;}


/*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
    .mainContainer {
        display: flex ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f57200;
        margin-top: 150px;
        margin-bottom: 10px;
        width: 100%;
        height: fit-content;
    
    }
    
    .textDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        position: relative;
    }
    .textDiv h1 {color: rgb(7, 7, 161); font-size: 2em;}
    .buttonDiv{
      display: none;
        
     
    }
    .mobileButton {
        display: block;
        padding: 2px;
        color: white;
        background-color: #eca86c;
        border: none;
    }
    .textDiv p{color: rgba(9, 9, 187, 0.973); text-align: start; }
    .textDiv h5{color: white;text-align: center;}
    

}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
    .mainContainer {
        display: flex ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f57200;
        margin-top: 150px;
        margin-bottom: 10px;
        width: 100%;
        height: fit-content;
    
    }
    
    .textDiv{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        position: relative;
    }
    .textDiv h1 {color: rgb(7, 7, 161); font-size: 1em;}
    .buttonDiv{
      display: none;
      
    
    }

    .mobileButton {
        display: block;
        border: none;
        padding: 5px;
        background-color: #eca86c;
        cursor: pointer;
        color: white;
    }
    .textDiv p{color: rgba(9, 9, 187, 0.973); text-align: center; font-size: 0.8em; text-align: justify; padding: 5px;}
    .textDiv h5{color: rgba(247, 247, 247, 0.973);text-align: start; padding: 5px; }
    
  
}