.mainContainer {
  height: calc(85vh - 150px);
  margin-top: 4em;
  font-size: 2rem;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.mainContainer img {
   z-index: -1;
}

.overlay {
  position: absolute;
  max-width: 40%;
  max-height: min-content;
  text-align: justify;
  top: 45%;
  left: 5%;
  padding: 15px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.overlay h1 {
  color: orange;
  font-size: 40px;
}

.overlay p {
  color: white;
  font-size: 0.45em;
}

/*For Mobile Phones */

@media (max-width: 480px) {
.mainContainer{
    height: calc(40vh - 100px);
    

  
}  


.mainContainer img {
    min-height: fit-content;
    z-index: -1;
    object-fit: cover;
 }

.overlay {
    position: absolute;
    top: 25%;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.4);
}
.overlay p{font-size: 0.5rem;}
.overlay h1{font-size: 1rem;}

}
/*For Tablets */

@media (max-width: 960px) {
}
/*For Laptops/Desktop*/

@media (min-width: 1025px) {
  .mainContainer {

    overflow: hidden;
  
    
  }
}
/*For Hi-Res Laptops*/

@media (max-width: 1280px) {
 
}
