.mainContainer {

   
    height: calc(100vh - 150px);
    text-align: center;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    /* background-image: url("../../public/Images/Service\ Page.jpg"); */
    object-fit: cover;
    position: relative;
}

.mainContainer img {
    object-fit: cover;
    max-height: 65vh;
        width: 100%;
        z-index: -1;

    }


.overlay{
    position:absolute;
    max-width:40%;
   max-height: min-content;

    text-align: justify;
    top: 35%;
    left: 14%;
    
    padding: 15px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    
    }

    .overlay h1 {
        color: orange;
        font-size: 40px;
    }

    .overlay p{
        color: white;
    }

    /*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
    .mainContainer {

   
        height: calc(80vh - 150px);
        text-align: center;
            
        
        /* background-image: url("../../public/Images/Service\ Page.jpg"); */
        background-size: cover;
        object-fit: cover;
        position: relative;
    }
    
    .mainContainer img {
        object-fit: cover;
        min-height: 60vh;
    }
    
    .overlay{
        position:absolute;
        max-width:50%;
       max-height: min-content;
    
        text-align: justify;
        top: 30%;
        
        padding: 15px;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.4);
        
        }
    
        .overlay h1 {
            color: orange;
            font-size: 35px;
            text-align: center;
            
        }
    
        .overlay p{
            color: white;
            font-size: 13px;
        }

}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
    .mainContainer {

   
        height: calc(80vh - 150px);
        text-align: center;
        font-size: 30px;
        align-items: center;
        justify-content: center;
        /* background-image: url("../../public/Images/Service\ Page.jpg"); */
        object-fit:cover;
        background-repeat: no-repeat;
        
        position: relative;
    }
    
    .mainContainer img {
        height: 100vh;
        object-fit: cover;

    }
    
    .overlay{
        position:absolute;
        max-width:40%;
       max-height: min-content;
    
        text-align: justify;
        top: 30%;
        
        padding: 15px;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.4);
        
        }
    
        .overlay h1 {
            color: orange;
            font-size: 20px;
        }
    
        .overlay p{
            color: white;
            font-size: 10px;
        }
  
}