.container {

  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  gap: 5px;

}
.topDiv {
  display: flex;
  flex-direction: column;
  
}
.phead { text-align: left; ;}
.topDiv h2 {
  font-size: 2em;
  text-align: center;
  color:  rgb(5, 81, 196);
  
}
.topDiv p {
  text-align: center;
  margin: 40px 140px;
}

.topDiv hr {
  margin-left: 42%;
  margin-right: 42%;

}

.lowerDiv {
  display: flex;
  gap: 35px;
  margin-left: 10%;
  margin-right: 10%;

  
}
.topServ {
  display: flex;
  flex-direction: column;

  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: justify;
}

.topServ h2 {
  text-align: center;
  color: blue;
  padding: 5px;

}
.topServ p {
  padding: 10px;
}



.card {
  box-sizing: border-box;
  max-width: 100%;
  max-height: max-content;
  
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.card h2 {
  font-size: 18px;
}

.getQuote {
  background-color:  rgb(5, 81, 196);
  width: fit-content;
  height: 10%;
  border-radius: 40px;
  padding: 8px;
  color: orange;
  text-align: center;
  font-size: 14px;
}

.banner{
 
  align-items: center;


}
/*For Mobile Phones */

@media (max-width:480px){
  .wrapper{display: block;}
  .topDiv{}
  .topDiv p{ width: 100%; text-align: justify; margin: 1em;}
  .lowerDiv {display: block; width: 100%; margin: 0 auto;}
  .topServ{display: block; align-items: center; justify-content: center; }
  .getQuote{margin-left: 30%;}
  .banner {display: none;}
}
/*For Tablets */

@media (max-width:960px){}
/*For Laptops/Desktop*/

@media (min-width:1025px){}
/*For Hi-Res Laptops*/

@media (max-width:1280px){}