.topContainer {
  margin-left: 40px;
  margin-right: 40px;
  position: relative;

}

.topContainer h2 {
  text-align: center;
  color: rgb(5, 81, 196);
}

.topContainer img {
  position: absolute;
  max-height: 450px;
  left: 40%;
  top: 10%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container h2 {
}

.centerLeftDiv {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 35%;
}

.centerLeftDiv h4 {
  color: rgb(5, 81, 196);
}

.centerLeft {
  display: flex;
  flex-direction: row;

  gap: 10px;
}




.centerLeftBox {
  max-height: 30px;
  min-width: 30px;
  background-color: orange;
  padding: 15px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.centerLeftText {
}

.centerLeftDiv p {
  color: rgb(5, 81, 196);
}

.centerRightDiv {
  display: flex;
  flex-direction: column;
  gap: 45px;
  min-width: 35%;
}

.centerRightDiv p {
  color: rgb(5, 81, 196);
}

.centerRightDiv h4 {
  color: rgb(5, 81, 196);
}

.centerRight {
  display: flex;

  padding-left: 10px;
  gap: 10px;

  max-width: 400px;
}

.centerRight h4 {
  color: rgb(5, 81, 196);
}

.centerRightBox {
  max-height: 30px;
  min-width: 30px;
  background-color: orange;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.centerRightText {
  text-align: left;
}

/*For Mobile Phones */

@media (max-width:480px){
    .container{display: block; width: 100%; gap: 1rem;}
    .Image{ display: none;}
    .centerLeftDiv{width: 100%;}
    .centerLeftText{min-width: 100%; text-align: start;}
}
/*For Tablets */

@media (max-width:960px){}
/*For Laptops/Desktop*/

@media (min-width:1025px){}
/*For Hi-Res Laptops*/

@media (max-width:1280px){}
