.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  background-color: rgb(5, 81, 196);
  margin-top: -1.2em;
 
}

.textDiv {
  margin-left: 40px;
   flex: 3;
   font-size: 1.5em;
  
}
.textDiv h3 {
  color: orange;
  padding: 15px;
  line-height: 1.5em;

}

.textDiv p {
  color: white;
 
}

.textDiv Button {
  color: orange;
  padding: 2px; ;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;

}

.divButton {
  margin-right: 40px;
  flex: 2;
  align-items: center;
  padding-left: 80px;
}

.divButton Button {
  background-color: orange;
   border-radius: 40px;
}

<<<<<<< HEAD
=======
/*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 270px;
    width: 100%;
    margin-top: -500px;
    background-color: rgb(5, 81, 196);
    margin-top: -26em;
    padding: 0.9em;
  }
  
  .textDiv {

    width: 100%;
    
  }
  .textDiv h3 {
    color: orange;
    padding: 5px;
    line-height: 1.5em;
    font-size: 1.2em;
  
  }
  
  .textDiv p {
    color: white;
    font-size: 0.9em;
    padding: 5px;
   
  }

  .textDiv Button {
    color: white;
    border: 1px solid red ;
    border: none;
    background-color: lightblue;
    cursor: pointer;

  }
  
  .divButton {
    margin-right: 40px;
    margin-top: 1em;
    
    align-items: center;
    padding-left: 80px;
  }
  
  .divButton Button {
    background-color: orange;
     border-radius: 40px;
  }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-top: -320px;
    background-color: rgb(5, 81, 196);
  }
  
  .textDiv {
    min-height: max-content ;
    width: 100%;
    justify-content: center;
    
  }
  .textDiv h3 {
    color: orange;
    padding: 5px;
    line-height: 1.5em;
    font-size: 10px;
  
  }
  
  .textDiv p {
    color: white;
    font-size: 0.6em;
    padding: 2px;
   
  }
  
  .divButton {
    margin-right: 40px;
    
    align-items: center;
   
  }
  
  .divButton Button {
    background-color: orange;
     border-radius: 40px;
     font-size: 0.6em;

  }
  
}
>>>>>>> f7737119ed115b604fd670bd50395ff56d30ea9a
