
.container {
  position: relative;
  height: calc(90vh - 150px);
  z-index: -1;
  
}

.overlayDiv {
  position: absolute;
   width: 500px;
 
  padding: 20px 10px 10px 20px;
  z-index: 1;
  margin: 10px solid pink;
  top: 400px;
  left: 200px;
  background: rgba(0, 0, 0, 0.4);
  
  
}
.overlayDiv h1{
  color: orange;
  font-size: 60px;


  }
  .overlayDiv p {
    color: white;
    font-weight: 300px;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0.5;
  }

