.container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;
    margin: 50px 10px 0px 50px;
    
}
.faqContainer {
    
    padding: 15px;
    flex: 2;
    height: 100vh;
    

}
.faqContainer h3 {
     
    color: blue;

}
.faqContainer p1 {
     
    color: rgb(243, 188, 7);

}
.quoteForm {
    flex: 2;
}
