
  .container {
  
   
   display: flex;
   background-color: rgb(5, 81, 196);
   color: rgb(245, 162, 9);
   border-radius: 10px;
   top: 0%;
   padding: 10px;
 

  }
  
 
  
  .flexOuter,
  .flexInner {
    list-style-type: none;
    padding: 0;
  }
  
  .flexOuter {
   gap: 1px;
   margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
    
  }
  
  .flexOuter li,
  .flexInner {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
  }
  
  .flexInner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flexOuter > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flexOuter li label,
  .flexOuter li p {
    padding: 2px;
    font-weight: 100px;
    letter-spacing: .01em;
    text-transform: uppercase;
  }
  
  .flexOuter > li > label,
  .flexOuter li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flexOuter > li > label + *,
  .flexInner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flexOuter li input:not([type='checkbox']),
  .flexOuter li textarea {
    padding: 15px;
    border: none;
  }
  
  .flexOuter li button {
    margin-left: auto;
    padding: 4px 16px;
    border: none;
    background: rgb(255, 175, 2);
    color: rgb(5, 81, 196);
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 20px;
    font-size: bold;
  }
  
  .flexInner li {
    width: 100px;
  }

  .requestQuote  {
    margin: 0 28%;
  }

  /*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .container {
  
   
    display: flex;
    background-color: rgb(5, 81, 196);
    color: rgb(245, 162, 9);
    border-radius: 10px;
    top: 0%;
    padding: 5px;
    width: 400px;
    margin-left: -37px;
    background: linear-gradient(rgba(51, 38, 240, 0.8), rgba(49, 27, 245, 0.8)),
    url('../public/Images/d10_d12_d8_deformed_bars.webp'); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgba(24, 76, 245, 0.8), rgba(44, 30, 247, 0.8)),
    url('../public/Images/d10_d12_d8_deformed_bars.webp'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
    /* d10_d12_d8_deformed_bars */
    
 
   }
  
   
   .requestQuote {
    align-items: center;
    
    
   }
   .requestQuote h4 { font-size: 12px; text-align: center;}
   
   .flexOuter,
   .flexInner {
     list-style-type: none;
     padding: 0;
     font-size: 10px;
   }
   
   .flexOuter {
    gap: 1px;
      
   }
   
     .flexOuter li,
   .flexInner {
     display: flex;
     flex-wrap: wrap;
     gap: 2px;
     align-items: center;
   }
   
   .flexOuter > li > input { border: 1px solid red}

   .flexInner {
    display: none;
     /* padding: 0 2px;
     justify-content: space-between;   */
   }
   
   .flexOuter > li:not(:last-child) {
     margin-bottom: 10px;
   }
   
   .flexOuter li label,
   .flexOuter li p {
     padding: 2px;
     font-weight: 100px;
     text-transform: uppercase;
   }
   
   .flexOuter > li > label,
   .flexOuter li p {
     flex: 1 0 120px;
     max-width: 120px;
   }
   
   .flexOuter > li > label + *,
   .flexInner {
     flex: 1 0 220px;
   }
   
   .flex-outer li p {
     margin: 0;
   }
   
   .flexOuter li input:not([type='checkbox']),
   .flexOuter li textarea {
     padding: 15px;
     border: none;
   }
   
   .flexOuter li button {
     margin-left: auto;
     padding: 4px 16px;
     border: none;
     background: rgb(255, 175, 2);
     color: rgb(5, 81, 196);
     text-transform: uppercase;
     letter-spacing: .09em;
     border-radius: 20px;
     font-size: bold;
   }
   
   .flexInner li {
     width: 70px;
   }
 
   .requestQuote  {
     margin: 0 28%;
   }



/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {

  
  .container {
  
   
    display: flex;
    background-color: rgb(5, 81, 196);
    color: rgb(245, 162, 9);
    border-radius: 1px;
    top: 0%;
    padding: 2px;
    min-width: 100%;
 
    
 
   }
  
   
   .requestQuote {
    align-items: center;
    
    
   }
   .requestQuote h4 { font-size: 0.8em; text-align: center;}
   
   .flexOuter,
   .flexInner {
     list-style-type: none;
     padding: 0;
     font-size:0.6em;
   }
   
   .flexOuter {
    gap: 1px;
      
   }
   
     .flexOuter li,
   .flexInner {
     display: flex;
     flex-wrap: wrap;
     gap: 1px;
     align-items: center;
   }
   
   .flexOuter > li > input { border: 1px solid red}

   .flexInner {
    display: none;
     /* padding: 0 2px;
     justify-content: space-between;   */
   }
   
   .flexOuter > li:not(:last-child) {
     margin-bottom: 10px;
   }
   
   .flexOuter li label,
   .flexOuter li p {
     padding: 2px;
     font-weight: 100px;
     text-transform: uppercase;
   }
   
   .flexOuter > li > label,
   .flexOuter li p {
     flex: 1 0 120px;
     max-width: 120px;
   }
   
   .flexOuter > li > label + *,
   .flexInner {
     flex: 1 0 220px;
   }
   
   .flex-outer li p {
     margin: 0;
   }
   
   .flexOuter li input:not([type='checkbox']),
   .flexOuter li textarea {
     padding: 2px;
     border: none;
     font-size: 1em;
     background-color: lightgray;
   }
   
   .flexOuter li button {
     margin-left: auto;
     margin-bottom: 1em;
     padding: 2px 5px;
     border: none;
     background: rgb(255, 175, 2);
     color: rgb(5, 81, 196);
     text-transform: uppercase;
     letter-spacing: 0.2em;
     border-radius: 20px;
     font-size: 1em;
     cursor: pointer;
   }
   
   .flexInner li {
     width: 70px;
   }
 
   .requestQuote  {
     margin: 0 28%;
   }
 
  
}