* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
 
   }
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
 

}
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6rem;
}
a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: lightgray;
    overflow-x: hidden;
  }
}

