* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
<<<<<<< HEAD
<<<<<<< HEAD
 
=======
  letter-spacing: 0.1em;
>>>>>>> f7737119ed115b604fd670bd50395ff56d30ea9a
=======
  letter-spacing: 0.1em;
>>>>>>> f7737119ed115b604fd670bd50395ff56d30ea9a
   }
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
 

}
p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6rem;
}
a {
  color: inherit;
  text-decoration: none;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: lightgray;
    overflow-x: hidden;
  }
}

<<<<<<< HEAD
=======
p {
  font-size: 0.85em;
<<<<<<< HEAD
}
>>>>>>> f7737119ed115b604fd670bd50395ff56d30ea9a
=======
}
>>>>>>> f7737119ed115b604fd670bd50395ff56d30ea9a
