.container {
  margin-bottom: 10px;
}
.reachout {
  border: 1px solid pink;

}

.appointment {
  min-height: 100px;
  background: rgba(5, 81, 196);
  position: relative;
  width: calc(50% - 30px);
  color: white;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}
.appointment h2 {
  font-size: 24px;
}
.salesTeam h2 {
  font-size: 24px;
}

.salesTeam {
  min-height: 100px;
  background: #f57200;
  position: relative;
  width: calc(50% - 30px);
  color: white;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}
.salesTeam {
  float: left;
}
.appointment {
  float: right;
}
.salesTeam:after,
.appointment:before {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
}
.salesTeam:after {
  left: 100%;
  border-top: 100px solid #f57200;
  border-right: 50px solid transparent;
}
.appointment:before {
  right: 100%;
  border-bottom: 100px solid rgba(5, 81, 196);
  border-left: 50px solid transparent;
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    margin-top: 90px;
    margin-bottom: -100px;
    position: relative;
    margin-right: -10px;
  }
  .reachOut {
     display: none; 
    /* margin-top: -0px;
    margin-bottom: 10px;
    position: absolute;
    height: 40px;
    top: 67%; */
    
  
  }
  
  .appointment {
    max-height: 3px;
    background: rgba(5, 81, 196);
    position: relative;
    width: calc(50% - 50px);
    color: white;
    align-items: center;
    padding: 1px;
    cursor: pointer;
    
  }
  .appointment h2 {
    font-size: 8px;
  }
  .salesTeam h2 {
    font-size: 8px;
  }
  
  .salesTeam {
    max-height: 4px;
    background: #f57200;
    position: relative;
    width: calc(50% - 30px);
    color: white;
    align-items: center;
    padding: 1px;
    cursor: pointer;
  }
  .salesTeam {
    float: left;
  }
  .appointment {
    float: right;
  }
  .salesTeam:after,
  .appointment:before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
  }
  .salesTeam:after {
    left: 100%;
    border-top: 100px solid #f57200;
    border-right: 60px solid transparent;
  }
  .appointment:before {
    right: 100%;
    border-bottom: 100px solid rgba(5, 81, 196);
    border-left: 60px solid transparent;
  }
  

}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    margin-top: 90px;
    margin-bottom: -100px;
    position: relative;
    margin-right: -10px;
  }
  .reachOut {
    display: none;
    /* margin-top: 0px;
    margin-bottom: 10px;
    position: absolute;
    height: 40px;
    top: 67%;
     */
  
  }
  
  .appointment {
    max-height: 3px;
    background: rgba(5, 81, 196);
    position: relative;
    width: calc(50% - 50px);
    color: white;
    align-items: center;
    padding: 1px;
    cursor: pointer;
    
  }
  .appointment h2 {
    font-size: 8px;
  }
  .salesTeam h2 {
    font-size: 8px;
  }
  
  .salesTeam {
    max-height: 4px;
    background: #f57200;
    position: relative;
    width: calc(50% - 30px);
    color: white;
    align-items: center;
    padding: 1px;
    cursor: pointer;
  }
  .salesTeam {
    float: left;
  }
  .appointment {
    float: right;
  }
  .salesTeam:after,
  .appointment:before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
  }
  .salesTeam:after {
    left: 100%;
    border-top: 100px solid #f57200;
    border-right: 60px solid transparent;
  }
  .appointment:before {
    right: 100%;
    border-bottom: 100px solid rgba(5, 81, 196);
    border-left: 60px solid transparent;
  }
  
}