/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,600;1,700;1,900&family=Varela+Round&display=swap'); */

.container {
  display: flex;
  border-top: 5px;
  gap: 25px;
  padding: 10px;
  font-size: 1.5em;
  position: relative;
  width: 100%;
}
.imageDiv {
  width: 100%;

}
.mobileImageDiv {
    display: none;
}

.mobile2ImageDiv{
    display: none;
  }

.leftDiv {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 2px;
}
.topHeading {
  color: rgb(5, 81, 196);
  text-align: center;
}
.topHeading h1 {
  font-size: 1em;
}

.midHeading {
  color: orange;
  text-align: center;
}

.leftDiv Button {
  background-color: rgb(5, 81, 196);
  left: 200px;
}
.leftInnerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(5, 81, 196);

  gap: 25px;
}

.rightDiv {
  display: flex;
  margin-right: 40px;
  flex: 1;
  position: relative;
}

.textDiv {
  background-color: orange;
  padding: 15px;
  text-align: start;
  color: rgb(245, 247, 250);
  font-size: 0.7em;
  margin-bottom: 2em;
}

.textDivButton {
  margin-bottom: 2em;
}

.rightDivText {
  background-color: orange;
  padding: 5px;
  min-height: max-content;
  min-width: 250px;
  text-align: start;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: -15%;
}
.rightDivText p {
  font-size: 0.3em;
  color: rgb(5, 81, 196);
}
.rightDivText h6 {
  font-size: 0.4em;
  color: rgb(5, 81, 196);
}
.rightDivText h6 {
  font-weight: bold;
}

.textDivMobile {
  display: none;
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {
}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
    .container {
        min-height: max-content;
        display: flex;
        border-top: 5px;
        gap: 25px;
        padding: 10px;
        font-size: 1em;
       
        position: relative;
        margin-bottom: 500px;
      }
    
      .imageDiv {
       display: none;
      
      }
      .mobileImageDiv {
        display: none;
      }
      .mobile2ImageDiv{
        
        display: block;
        z-index: -1;
      }
    
    
    
      .leftDiv {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 5px;
        gap: 2px;
    
       
      }
      .topHeading {
        color: rgb(5, 81, 196);
        text-align: center;
        margin-left: -2em;
      }
    
      .midHeading {
        color: orange;
        text-align: center;
        font-weight: 900px;
        font-size: 1em;
        margin-left: -2em;
      }
    
      .leftDiv h1 {
        font-family: "Montserrat";
        font-size: 1em;
       
        margin-left: -2em;
    
      }
    
      .leftDiv Button {
        background-color: rgb(5, 81, 196);
        left: 0px;
      }
      .leftInnerDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgb(5, 81, 196);
    
        font-size: 1em;
        margin-left: -2em;
      }
      .leftInnerDiv h1 {
        font-size: 2em;
        margin-left: 1em;
      }
    
      .rightDiv {
        display: none;
        /* display: flex;
         margin-right: 40px;
         flex: 1;
         position: relative; */
      }
      .textDiv {
        display: none;
      }
    
      .textDivMobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        background-color: orange;
        padding: 0.5em;
        text-align: start;
        font-size: 1em;
        color: rgb(5, 81, 196);
        margin-left: -10px;
        margin-top: 10em;
      }
      .textDivMobile p {
        font-size: 0.2em;
        
      }
    
      .rightDivText {
        display: none;
    
        /* background-color: orange;
        padding: 5px;
        height: 60px;
        width: 250px;
        text-align:start;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: -15%; */
      }
    
      .textDivButton {
        display: none;
      }
      .rightDivText p {
        font-size: 8px;
        color: rgb(5, 81, 196);
      }
      .rightDivText h6 {
        font-size: 0.2em;
        color: rgb(5, 81, 196);
      }
      .rightDivText h6 {
        font-weight: bold;
      }
}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    min-height: max-content;
    display: flex;
    border-top: 5px;
    gap: 25px;
    padding: 10px;
    font-size: 0.7em;
   
    position: relative;
    margin-bottom: 36.3em;
  }

  .imageDiv {
   display: none;
  
  }
  .mobile2ImageDiv{
    display: none;
  }
  .mobileImageDiv {
    display: block;
    z-index: -1;
  }



  .leftDiv {
    display: flex;
    flex-direction: column;
    margin-left: -35px;
    margin-top: 5px;
    gap: 2px;

   
  }
  .topHeading {
    color: rgb(5, 81, 196);
    text-align: center;
    margin-left: -2em;
  }

  .midHeading {
    color: orange;
    text-align: center;
    font-weight: 900px;
    font-size: 1em;
    margin-left: -2em;
  }

  .leftDiv h1 {
    font-family: "Montserrat";
    font-size: 1em;
   
    margin-left: -2em;

  }

  .leftDiv Button {
    background-color: rgb(5, 81, 196);
    left: 0px;
  }
  .leftInnerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(5, 81, 196);

    font-size: 1em;
    margin-left: -2em;
  }
  .leftInnerDiv h1 {
    font-size: 2em;
    margin-left: 1em;
  }

  .rightDiv {
    display: none;
    /* display: flex;
     margin-right: 40px;
     flex: 1;
     position: relative; */
  }
  .textDiv {
    display: none;
  }

  .textDivMobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    background-color: orange;
    padding: 0.5em;
    text-align: start;
    font-size: 1em;
    color: rgb(5, 81, 196);
    margin-left: -10px;
    margin-top: 11em;
  }
  .textDivMobile p {
    font-size: 0.2em;
    
  }

  .rightDivText {
    display: none;

    /* background-color: orange;
    padding: 5px;
    height: 60px;
    width: 250px;
    text-align:start;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -15%; */
  }

  .textDivButton {
    display: none;
  }
  .rightDivText p {
    font-size: 8px;
    color: rgb(5, 81, 196);
  }
  .rightDivText h6 {
    font-size: 0.2em;
    color: rgb(5, 81, 196);
  }
  .rightDivText h6 {
    font-weight: bold;
  }
}
