.navContainer {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.innerContainer {
  width: 100%;
  height: 100px;
  background-color: #fa8807;
  color: rgb(15, 15, 15);
  font-weight: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  font-size: 12px;
  position: sticky;


}

.companyLogo {

  width: 305px;
  height: 60px;
  align-items: center;
  margin-bottom: 15px;
  background-image: url(../public/Images/kpfc_Builders_kpipes_hardware_1.png);
  background-size: cover;


}

.navIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: rgb(15, 10, 10);
  margin-right: 20px;
}

.callus {
  display: flex;
  gap: 5px;
}

.emailus {
  display: flex;
  gap: 5px;
}

.emailadd {
  cursor: pointer;
  gap: 5px;
  font-size: 16px;
}

.openHrs {
  display: flex;
  gap: 5px;
}

.text {
  color: black;
  font-size: 16px;
  font-weight: 400px;
}

.hambuger {
  display: none;
}


/*desktops - higher resolution*/
@media (min-width: 1281px) {}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .navContainer {
    position: sticky;
    top: 0;
  }

  .innerContainer {
    width: 100%;
    height: 100px;
    background-color: #fa8807;
    color: rgb(15, 15, 15);
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 12px;


  }

  .companyLogo {

    width: 295px;
    height: 70px;
    align-items: center;
    margin-bottom: 15px;
    background-image: url(../public/Images/kpfc_Builders_kpipes_hardware_1.png);
    background-size: cover;


  }

  .navIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: rgb(12, 12, 12);
    margin-right: 20px;
  }

  .callus {
    display: flex;
    gap: 5px;
  }

  .emailus {
    display: flex;
    gap: 5px;
  }

  .emailadd {
    cursor: pointer;
    gap: 5px;
    font-size: 16px;
  }

  .openHrs {
    display: flex;
    gap: 5px;
  }

  .text {
    color: black;
    font-size: 16px;
    font-weight: 400px;
  }

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
  .navContainer {
    position: sticky;
    top: 0;
  }

  .innerContainer {
    width: 100%;
    height: 100px;
    background-color: #fa8807;
    color: rgb(15, 15, 15);
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 12px;


  }

  .companyLogo {

    width: 295px;
    height: 70px;
    align-items: center;
    margin-bottom: 15px;
    background-image: url(../public/Images/kpfc_Builders_kpipes_hardware_1.png);
    background-size: cover;


  }


  .navIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: rgb(12, 12, 12);
    margin-right: 20px;
  }

  .callus {
    display: flex;
    gap: 5px;
  }

  .emailus {
    display: flex;
    gap: 5px;
  }

  .emailadd {
    cursor: pointer;
    gap: 5px;
    font-size: 16px;
  }

  .openHrs {
    display: flex;
    gap: 5px;
  }

  .text {
    color: black;
    font-size: 16px;
    font-weight: 400px;
  }


}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .navContainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }

  .innerContainer {
    width: 100%;
    height: 100px;
    background-color: #fa8807;
    color: rgb(15, 15, 15);
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 12px;
    position: sticky;


  }

  .companyLogo {

    width: 295px;
    height: 70px;
    align-items: center;
    margin-bottom: 15px;
    background-image: url(../public/Images/kpfc_Builders_kpipes_hardware_1.png);
    background-size: contain;


  }



  .navIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: rgb(12, 12, 12);
    margin-right: 20px;
  }

  .callus {
    display: flex;
    gap: 5px;
  }

  .emailus {
    display: flex;
    gap: 5px;
  }

  .emailadd {
    cursor: pointer;
    gap: 5px;
    font-size: 16px;
  }

  .openHrs {
    display: flex;
    gap: 5px;
  }

  .text {
    color: black;
    font-size: 16px;
    font-weight: 400px;
  }

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .navContainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
  }

  .innerContainer {
    width: 100%;
    height: 100px;
    background-color: #fa8807;
    color: rgb(15, 15, 15);
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 12px;

    position: sticky;


  }

  .companyLogo {

    max-width: 160px;
    max-height: 30px;
    align-items: center;
    background-image: url(../public/Images/kpfc_Builders_kpipes_hardware_1.png);
    background-size: cover;
    margin-left: 40%;
    margin-top: 0;



  }

  .hambuger {
    width: 10px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 5%;
    left: 90%;
    margin-left: 2px;
    color: white;



  }

  .hamLines {
    width: 40px;
    height: 3px;
    background-color: white;
  }

  .menu {
    position: fixed;
    height: calc(70vh - 150px);
    width: 50vw;
    background-color: rgb(5, 81, 196);
    top: 150px;
    color: white;
    font-weight: 500;
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 999;
    transition: all 1s ease;


  }

  .navIcons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    color: rgb(9, 51, 238);
    margin-right: 20px;
  }

  .callus {
    display: flex;
    gap: 5px;
    font-size: 20px;
    position: absolute;
    top: 12px;
    margin: 0;
    left: 10px;
  }

  .emailus {
    display: none;
    /* display: flex;
    gap: 5px; */
  }

  .emailadd {
    display: none;
    /* cursor: pointer;
    gap: 5px;
    font-size: 16px; */
  }

  .openHrs {
    display: none;
    /* display: flex;
    gap: 5px; */
  }

  .text {
    color: white;
    font-size: 16px;
    font-weight: 900px;
  }


}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .navContainer {
    position: fixed;
    top: 0;
    width: 100;
  }

  .innerContainer {
    display: none;
    width: 100%;
    height: 60px;
    background-color: #fa8807;
    color: rgb(15, 15, 15);
    font-weight: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 12px;


  }

  .companyLogo {

    width: 95px;
    height: 13px;
    align-items: center;
    margin-bottom: 30px;
    background-image: url(../public/Images/kpfc_Builders_kpipes_hardware_1.png);
    background-size: cover;
    position: absolute;
    left: 46%;

  }

  .hambuger {
    width: 10px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 90%;
    margin-left: -10px;
    color: white;



  }

  .hamLines {
    width: 40px;
    height: 3px;
    background-color: white;
  }

  .menu {
    position: fixed;
    height: calc(90vh - 150px);
    width: 50vw;
    background-color: rgb(5, 81, 196);
    top: 100px;
    color: white;
    font-weight: 500;
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    z-index: 999;
    transition: all 1s ease;


  }

  .navIcons {

    
  }

  .callus {
    display: flex;
    gap: 5px;
    position: absolute;
    left: 0;
    color: blue;
  }

  .emailus {
    display: none;
    gap: 5px;
  }

  .emailadd {
    display: none;
    cursor: pointer;
    gap: 5px;
    font-size: 16px;
  }

  .openHrs {
    display: none;
  
    gap: 5px;
  }

  .text {
    color: white;
    font-size: 16px;
    font-weight: 400px;
  }


}