.fullContainer {
  margin-top: 110px;
}


.containerProducts {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
}
.productsHeader{
display: flex;
color: rgb(5, 81, 196);
margin-left: 35%;
margin-right: 35%;
align-items: center;
justify-content: center;

border-bottom: 1px solid lightgray;


}
.categoryCorousel {
  height: 190px;
   margin-top: 15px;
  margin-left: 15%;
  margin-right: 15%;
}


.categoryFlex {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.mostPolular {
  display: flex;

  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}



.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 40px;
  margin-right: 40px;
  grid-template-rows: 10vh;
  grid-template-columns: 16vw;
}

.popularHeading {
  grid-area: 1 / 1 / 2 / 5;
  color: rgb(5, 81, 196);
  font-size: 18px;
  font-weight: 100px;
  margin-left: 40px;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  gap: 3px;
}

.mostDivLeft{
  height: 30px;
  width: 30px;
  background-color: orange;
 

}
.mostDivLeft img{
  height: 20px;
  object-fit: cover;
}
.mostDivRight{
  height: 30px;
  width: 30px;
  background-color: orange;
}

.mostDivRight img {
  height: 20px;
  object-fit: cover;
  
}

.adverts {
  grid-area: 1 / 5 / 3 / 6;
  background: url('./../public/Images/quality.webp');
  background-size: contain;
  border-radius: 5px;
  color: white;
  /* color: rgb(252, 134, 0); */
  text-align: center;
  font-weight: 100px;
  padding-top: 50%;
  position: relative;
 
}
.advertButton{
  position: absolute;
  width: fit-content;
  background-color: rgb(5, 81, 196);
  border: none;
  color: orange;
  padding: 10px;
  border-radius: 40px;
  bottom: 30px;
  right: 25%;
  cursor: pointer;

 

}

.advertButton:hover{
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.advertButton:focus{
      outline: none;


}



.pictures1 {
  grid-area: 2 / 1 / 3 / 2;
  
}

.pictures2 {
  grid-area: 2 / 2 / 3 / 3;
  
}
.pictures3 {
  grid-area: 2 / 3 / 3 / 4;

}
.pictures4 {
  grid-area: 2 / 4 / 3 / 5;


}

.addCard {
  background-color: rgb(5, 81, 196);
  border: none;
  border-radius: 40px;
  padding: 15px;
  align-items: center;
  cursor: pointer;
  color: orange;
  margin-left: 35%;
}

.ourService {
  margin-top: 10px;
  height: 150px;
  background-color: orange;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.ourServiceText {
  flex: 4;
  color: rgb(5, 81, 196);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ourServicesButton {
  
  flex: 2;
}

/*desktops - higher resolution*/
@media (min-width: 1281px) {

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {

}

/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  
}