.fullContainer {
  margin-top: 110px;
}


.containerProducts {
  display: none;
  /* display: flex;

  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  gap: 15px;
  margin-bottom: 20px;
  position: relative; */
}
.productsHeader{
display: flex;
color: rgb(5, 81, 196);
align-items: center;
justify-content: center;
border-bottom: 1px solid lightgray;

margin-top: 8em;


}
.categoryCorousel {
  min-height: 190px;
   margin-top: 15px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
}


.categoryFlex {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.mostPolular {
  display: flex;

  justify-content: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}







.mostDivLeft{
  min-height: 30px;
  max-width: 30px;

 

}
.mostDivLeft Image{

  object-fit:fill;
}
.mostDivRight{
  max-height: 30px;
  max-width: 30px;

}

.mostDivRight img {
  min-height: 20px;
  max-width: 30px;
  object-fit: cover;
  
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0.3em;
  grid-row-gap: 0.3em;
  margin-top: -6em;
  margin-left: 8em;
  margin-bottom: -20em;
  
  
  
  }
  
  .popularHeading { grid-area: 1 / 1 / 2 / 4; 
    color:  rgb(5, 81, 196);
    font-size: 1em;
    font-weight: 400;
    margin-left: 40px;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
  
    max-height: 50px;

  }
  .adverts { grid-area: 1 / 4 / 5 / 5; 
    grid-area: 1 / 4 / 4 / 5;
    background: url('./../public/Images/quality.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    color: white;
    
   
    text-align: center;
    font-weight: 100px;
    padding-top: 5%;
    position: relative;
    width: 100%;
    min-height: 500px;
    border: 1px solid grey;
   
  }
  .pictures1 { grid-area: 2 / 1 / 3 / 2; 
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;
    border: 1px solid lightgray;
 
    max-width: 100%;
    margin-top: -7.5em;
    
  
  }
  .pictures2 { grid-area: 2 / 2 / 3 / 3;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;
    border: 1px solid lightgray;
 
    max-width: 100%;
    margin-top: -7.5em;
  
  }
  .pictures3 { grid-area: 2 / 3 / 3 / 4; 
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;

    border: 1px solid lightgray;
    max-width: 100%;
    margin-top: -7.5em;
  
  
  }
  .pictures4 { grid-area: 3 / 3 / 4 / 4; 
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;
    border: 1px solid lightgray;
 
    max-width: 100%;
   
  }
  .pictures5 { grid-area: 3 / 2 / 4 / 3;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;
    border: 1px solid lightgray;
 
    max-width: 100%;

  
  }
  .pictures6 { grid-area: 3 / 1 / 4 / 2;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;
    border: 1px solid lightgray;
 
    max-width: 100%;
 
  
  }
  .pictures7 { grid-area: 4 / 1 / 5 / 2;
    display: none;
    position: relative;
    flex-direction: column;
    justify-content:flex-end;
    align-content: center;
    gap: 1em;
    border: 1px solid lightgray;
 
    max-width: 100%;

  
  }
  .pictures8 { grid-area: 4 / 2 / 5 / 3; 
    border: 1px solid lightgray;
  display: none;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content:flex-end;

  max-width: 100%;

  
  }
  .pictures9 { grid-area: 4 / 3 / 5 / 4; 
    border: 1px solid lightgray;
  display: none;
  position: relative;
  flex-direction: column;
  align-content: center;
  justify-content:flex-end;
 
  max-width: 100%;
 
  
  }
 



















.advertButton{
  position: absolute;
  max-width: fit-content;
  background-color: rgb(5, 81, 196);
  border: none;
  color: orange;
  padding: 10px;
  border-radius: 40px;
  bottom: 30px;
  right: 25%;
  cursor: pointer;

 

}

.advertButton:hover{
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.advertButton:focus{
      outline: none;


}

.butDiv{
  position: absolute;
  left: 40%;
}


.addCard {
  background-color: rgb(5, 81, 196);
  border: none;
  border-radius: 40px;
  padding: 5px;
  cursor: pointer;
  color: orange;
 align-self: center;
  font-size: 0.6em;
  min-width: 30%;
  margin-bottom: 1em;
}

.ourService {
  margin-top: 10px;
  min-height: 150px;
  background-color: orange;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.ourServiceText {
  flex: 4;
  color: rgb(5, 81, 196);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ourServicesButton {
  
  flex: 2;
}

.ourServicesButtonMobile{
  display:none;
}
/*desktops - higher resolution*/
@media (min-width: 1281px) {
  .prodDiv {}

}

/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .prodDiv{
    
  }

}

/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px){

}

/*tablets, ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  .prodDiv {
    position: relative;
    min-height: max-content;
  }
  
  /* .fullContainer {
    max-width: 100%;
   min-height: max-content;
  } */
  
  .productsHeader{
  
    display: flex;
    color: rgb(5, 81, 196);
    align-items: center;
    justify-content: center;
    
    font-size: 0.5em;
    max-width: 100%;
    border-bottom: 1px solid lightgray;
    
    
    }
  
  .containerProducts {
    display: flex;
  
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  
    gap: 15px;
    position: relative;
    border-top: 1px solid orange;
    padding-top: 2px;
    font-size: 1em;
    color: rgb(5, 81, 196) ;
  }


  .productsHeader h1 {
    text-align: center;
  }
  .categoryCorousel {
    min-height: max-content;
   
    margin-left: 15%;
    margin-right: 15%;
  }
  
  
  .categoryFlex {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    margin-top: 10px;
  }
  
  .mostPolular {
    display: flex;
  
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    
  }
  
  
  
  .container {
 
    
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      margin-top: 5px;
      margin-bottom: 514px;
      margin-left: 30px;
      max-width: 100%;
      min-height: 62vh;
 
    
     
  }
  
  .popularHeading {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    }
  
  .mostDivLeft{
   display: none;
   
  
  }
  .mostDivLeft img{
    display: none;
  }
  .mostDivRight{
  display: none;
  }
  
  .mostDivRight img {
   display: none;
    
  }
  
  .adverts {
    grid-area: 1 / 3 / 4 / 4;
    background: url('./../public/Images/quality.webp');
    background-size: contain;

    color: white;
    /* color: rgb(252, 134, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 100px;
   
    position: relative;
    min-height: 420px;
    min-width: 250px;
    margin-top: 2px;
    margin-bottom: 0.8em;
    
   
  }
  .advertButton{
    position: absolute;
    max-width: fit-content;
    background-color: rgb(5, 81, 196);
    border: none;
    color: orange;
    padding: 10px;
    border-radius: 40px;
    bottom: 15px;
    right: 36%;
    cursor: pointer;
  
   
  
  }
  
  .advertButton:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .advertButton:focus{
        outline: none;
  
  
  }
  
  .a img {
    min-height: 80px;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .pictures1 {
    grid-area: 1 / 1/ 2 / 2;
    margin-top: 2px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-height: 120px;
    min-width: 90px;
    
  }
  
  .pictures2 {
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 2px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 120px;
    min-width: 90px;
    
    
  }
  .pictures3 {
    grid-area: 2 / 1 / 3 / 2;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 120px;
    min-width: 90px;
    
  
  }
  .pictures4 {
    grid-area: 2 / 2 / 3/ 3;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 120px;
    min-width: 90px;
    
  
  
  }
  .pictures5 {
    grid-area: 3 / 1 / 4/ 2;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 120px;
    min-width: 90px;
  
  
  }
  .pictures6 {
    grid-area: 3 / 2 / 4/ 3;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 120px;
    min-width: 90px;
  
  
  }
  .addCard {
    background-color: rgb(5, 81, 196);
    border: none;
    max-width: 80px;
    border-radius: 40px;
    padding: 7px;
    align-items: center;
    cursor: pointer;
    color: orange;
    margin-top: 5%;
    margin-left: -0px;
    font-size: 0.5em;
  }
  
  .ourService {
   margin-top: -820px;
    min-height: 120px;
    background-color: orange;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 0.8em;
    padding: 10px;
  }
  
  .ourServiceText {
    flex: 4;
    color: rgb(5, 81, 196);
    margin-left: 0px;
    display: flex;
   
    gap: 10px;
  }
  .ourServiceText p{
    font-size: 1em;
    padding: 1px;
    text-align: start;
  }
  
  .ourServiceText h3{
    font-size: 1em;
    padding: 1px;
    text-align: start;
  }
  .ourServicesButton {
    display: none;
    
  }

  .ourServicesButtonMobile{
    display:flex;
  }
  
  
}


/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
  .prodDiv {
    position: relative;
    min-height: max-content;
  }
  
  /* .fullContainer {
    max-width: 100%;
   min-height: max-content;
  } */
  
  .productsHeader{
  
    display: flex;
    color: rgb(5, 81, 196);
    align-items: center;
    justify-content: center;
    
    font-size: 0.5em;
    max-width: 100%;
    border-bottom: 1px solid lightgray;
    
    
    }
  
  .containerProducts {
    display: flex;
  
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  
    gap: 15px;
    position: relative;
    border-top: 1px solid orange;
    padding-top: 2px;
    font-size: 1em;
    color: rgb(5, 81, 196) ;
  }


  .productsHeader h1 {
    text-align: center;
  }
  .categoryCorousel {
    min-height: max-content;
   
    margin-left: 15%;
    margin-right: 15%;
  }
  
  
  .categoryFlex {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    margin-top: 10px;
  }
  
  .mostPolular {
    display: flex;
  
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    
  }
  
  
  
  
  .container {
 
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin-bottom: 590px;
    margin-left: 30px;
    max-width: 100%;
    min-height: 62vh;

  
   
}
  
.popularHeading {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  }

.mostDivLeft{
 display: none;
 

}
.mostDivLeft img{
  display: none;
}
.mostDivRight{
display: none;
}

.mostDivRight img {
 display: none;
  
}

.adverts {
  grid-area: 1 / 3 / 4 / 4;
  background: url('./../public/Images/quality.webp');
  background-size: cover;

  color: white;
   /* color: rgb(252, 134, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 0.7em;
  padding: 3px;
  position: relative;
  max-height: 400px;
  max-width: 150px;
  margin-top: 2px;
  
 
}
.advertButton{
  position: absolute;
  max-width: fit-content;
  background-color: rgb(5, 81, 196);
  border: none;
  color: orange;
  padding: 5px;
  border-radius: 40px;
  bottom: 15px;
  right: 36%;
  cursor: pointer;

 

}

.advertButton:hover{
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.advertButton:focus{
      outline: none;


}

.a img {
  min-height: 80px;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.pictures1 {
  grid-area: 1 / 1/ 2 / 2;
  margin-top: 2px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-width: 70px;
  
}

.pictures2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-top: 2px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 70px;
  
  
}
.pictures3 {
  grid-area: 2 / 1 / 3 / 2;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 70px;
  

}
.pictures4 {
  grid-area: 2 / 2 / 3/ 3;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  


}
.pictures5 {
  grid-area: 3 / 1 / 4/ 2;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  


}
.pictures6 {
  grid-area: 3 / 2 / 4/ 3;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  


}
.addCard {
  background-color: rgb(5, 81, 196);
  border: none;
  max-width: 80px;
  border-radius: 40px;
  padding: 7px;
  align-items: center;
  cursor: pointer;
  color: orange;
  margin-top: 5%;
  margin-left: -0px;
  font-size: 0.4em;
}
  
  .ourService {
   margin-top: -820px;
    min-height: 120px;
    background-color: orange;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 0.2em;
    padding: 10px;
  }
  
  .ourServiceText {
    flex: 4;
    color: rgb(5, 81, 196);
    margin-left: 0px;
    display: flex;
   
    gap: 10px;
  }
  .ourServiceText p{
    font-size: 3em;
    padding: 1px;
    text-align: start;
  }
  
  .ourServiceText h3{
    font-size: 3em;
    padding: 1px;
    text-align: start;
  }
  .ourServicesButton {
    display: none;
    
  }

  .ourServicesButtonMobile{
    display:flex;
    font-size: 2em;
  }
  
  
}