
.container {
    color:rgb(5, 81, 196) ;
    text-align: center;
    margin-top: 1em;
    max-height: 24em;

    
}


#desk h5 { 
    border-top: 5px solid grey;
    margin-left: 20em;
    margin-right: 20em;
}

#mobile {
    display: none;
}

/*For Mobile Phones */

@media (max-width:480px){
#desk{ display: none;}
#mobile{display: block;}
}
/*For Tablets */

@media (max-width:960px){}
/*For Laptops/Desktop*/

@media (min-width:1025px){}
/*For Hi-Res Laptops*/

@media (max-width:1280px){}