
.container {
    color: black;
 
    max-height: 24em;
    
}

#desk {
    margin-top: 1em;
}
#desk h5{color:rgb(5, 81, 196); text-align: center;}
#desk h1{color:rgb(5, 81, 196); text-align: center;}
#desk hr {margin-left: 30%; margin-right: 30%; margin-bottom: 1em; border:2px solid grey}




#mobile {
    display: none;
}

